#homePage .top {
  width: 1200px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

#homePage .top .slick-dots {
  justify-content: start !important;
  margin-left: 25px !important;
}

#homePage .top .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#homePage .top .right div {
  width: 380px;
  height: 110px;
}

#homePage .bottom {
  height: 100%;
  background-color: #f6f9fb;
  padding-top: 16px;
}

#homePage .tips {
  width: 1200px;
  margin: 0 auto 20px;
  text-align: left;
}

#homePage .bottom .content {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

#homePage .bottom .right {
  width: 380px;
}

#homePage .bottom .module {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

#homePage .bottom .module .item {
  width: 150px;
  height: 35px;
  margin: 0 12.5px 10px 0;
  padding-left: 10px;
  background-color: #fff;
  display: flex;
  justify-content: start;
  color: #000;
}

#homePage .bottom .module .item:nth-child(5n) {
  margin-right: 0;
}

#homePage .item p {
  margin-bottom: 2px;
  line-height: 35px;
}

#homePage .article {
  width: 800px;
}

#homePage .articleNav {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
}

#homePage .articleNav .searchBar {
  width: 180px;
}

#homePage .articleLabel {
  padding: 16px 16px;
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
}

#homePage .articleLabel .item {
  font-size: 12px;
}

#homePage .articleCard:hover {
  color: #1677ff;
}

#homePage .articleCard:hover .title {
  color: #1677ff;
}

#homePage .articleMessage {
  height: 150px;
  display: flex;
  flex-direction: column;
}

#homePage .articleMessage h1 {
  font-size: 22px;
}

#homePage .articleMessage p {
  margin-top: 5px;
  flex: 1;
}

#homePage .rankingList {
  background-color: #fff;
}

#homePage .rankingListNav1 {
  padding: 0 16px;
  border-bottom: 1px solid #e6e6e6;
}

#homePage .rankingListNav2 {
  padding: 0 16px;
}

#homePage .rankingListContent {
  margin-top: 15px;
}

#homePage .userCard .userMessage {
  width: 100%;
  display: flex;
  align-items: center;
}

#homePage .userCard .userId {
  width: 22px;
  margin-right: 10px;
  text-align: center;
}

#homePage .userCard .userName {
  flex: 1;
  margin-left: 10px;
  font-weight: 500;
}
